.searchbox {
  padding: 8px;
  margin: 9px 15px -10px;
  width: 35%;
  border-radius: 5px;
  float: right;
  clear: right;
  margin-bottom: -20px;
}

.addbutton:hover {
  background-color: #ffca05 !important;
  border-color: #ffca05 !important;
  border-radius: 40px !important;
  color: black;
}

.addbutton {
  color: #f0ad4e;
  background-image: none;
  background-color: transparent;
  border-color: #f0ad4e;
  border-radius: 40px !important;
}

pre {
  word-wrap: break-word;
  white-space: inherit;
  font-size: 11px;
}

.addbox {
  padding: 8px;
  margin: 25px 0px 6px 3px;
  width: 15%;
  border-radius: 5px;
  float: right;
  clear: right;
  white-space: initial
}

.datatable {
  text-align: left;
  width: 100%;
  margin: 0 auto;
  /*height: 623px;*/
}

.datatable .datatable-footer>div {
  height: 45px;
}

.datatable.vertical-scroll {
  height: 170vh;
}

.position {
  margin: auto;
  margin-top: -735px;
  background-color: white;
}

.relative {
  width: 1026px;
}

.modal-history {
  height: 450px !important;
}

.btton {
  margin: 12px 0px 4px 0px;
}

.snip {
  padding: 0px;
  margin-left: 22px;
  margin-top: 5px;
}
